.concept {
    padding-bottom: 0;

    h1 {
        font-size: 8rem;
        text-align: center;
        color: $primary-color;
        font-family: $circe;
        font-weight: 200;
    }
}

.concept__subcontainer {
    margin-top: 2rem;
    display: flex;
    gap: 10rem;

    h2 {
        color: $primary-color;
    }
}

.concept__subcontainer+.concept__subcontainer {
    margin-top: 4rem;
}

.concept__subcontainer-left {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.concept__subcontainer-left2 {
    width: 40%;
}

.concept__subcontainer-right {
    width: 60%;
    z-index: 1;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

.concept__background__title {
    font-size: 45rem;
    opacity: 0.02;
    color: $primary-color;
    top: 30%;
    right: 4%;
    position: absolute;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .concept__subcontainer {
        flex-direction: column;
        gap: 3rem;
    }

    .concept__subcontainer-left,
    .concept__subcontainer-left2,
    .concept__subcontainer-right {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .concept {
        h1 {
            font-size: 4rem;
        }

        .span-font {
            font-size: 5rem;
        }
    }
}