h1 {
    font-family: "roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 0;
    line-height: 0.8;
}

section {
    height: 500vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: black;
        border: 1px solid black;
    }
}