.btn {
    padding: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid transparent;
}

.btn__primary {
    padding: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid transparent;
    background: $black;
    color: $white;

    &:hover {
        background: $white;
        color: $black;
    }
}

.btn__secondary {
    padding: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid transparent;
    background: $white;
    color: $black;

    &:hover {
        background: $black;
        color: $white;
    }
}

.btn:hover {
    color: $white;
    background-color: $black;
}