@import url("https://use.typekit.net/wqi6tiq.css");

@font-face {
    font-family: "Kostania";
    src: url('../../public/assets/font/Kostania-Bold.ttf') format('woff2');
    font-display: swap;
}


$circe : 'circe', sans-serif;
$kostania: 'Kostania', sans-serif;
$text: 'roboto', sans-serif;