@font-face {
    font-family: 'gallery';
    src: url('../../public/assets/font/gallery-modern.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'styrenea';
    src: url('../../public/assets/font/styrenea-light.woff2') format('woff2');
    font-display: swap;
}

$gallery: 'gallery';
$styrenea: 'styrenea';










