html {
    font-size: 62, 5%;

    h1 {
        font-size: 8rem;
        line-height: 8rem;
        color: $primary-color;
        font-family: $kostania;
    }

    h2 {
        font-size: 2.7rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }

    label {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 4rem !important;
        line-height: 4rem !important;
    }

    .span-font {
        font-size: 5rem !important;
    }
}