::selection {
    color: $white;
    background-color: $black;
}

body {
    position: relative;
}

.section {
    background-color: $white;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
}

.section-colored {
    background-color: #F7F6F4;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    flex-direction: column;
}

.container-row {
    display: flex;
    align-items: center;
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    flex-direction: row;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.container-row+.container-row {
    padding-top: 12rem;

    @media screen and (max-width: 900px) {
        padding-top: 8rem;
    }
}

.page__banner {
    height: 160px;
    padding: 4rem;
    background-color: $black;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        background: $primary-color;
        font-family: $circe;
        color: #fff;
        width: fit-content;
        padding: 0.6rem;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    span {
        font-size: 1.2rem;
        font-family: $circe;
        display: flex;
        flex-direction: row;
        gap: 0.6rem;
        background: $primary-color;
        color: #fff;
        width: fit-content;
        padding: 0.6rem;
    }

    a {
        color: $white;
        font-weight: normal;

        &:hover {
            color: $black;
        }
    }
}

.content__primary {
    font-size: 1.5rem;
    font-family: $circe;
    margin-top: 1rem;
}

.content__primary+.content__primary {
    margin-bottom: 2rem;
}

.span-font {
    font-family: $kostania;
    font-size: 10rem;
}


/*Family*/
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
    font-family: $circe;
}