::selection {
    color: $white;
    background-color: $color2;
}

.container {
    display: flex;
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    flex-direction: column;
}

.container-row {
    display: flex;
    align-items: center;
    max-width: 114rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    flex-direction: row;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.container-row+.container-row {
    padding-top: 12rem;

    @media screen and (max-width: 900px) {
        padding-top: 8rem;
    }
}

.btn {
    padding: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid transparent;
}

.btn__primary {
    padding: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid transparent;
    background: $color2;
    color: $white;

    &:hover {
        background: $white;
        color: $black;
    }
}

.btn__secondary {
    padding: 2.4rem;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
    border: 1px solid transparent;
    background: $white;
    color: $black;

    &:hover {
        background: $color2;
        color: $white;
    }
}

.btn:hover {
    color: $white;
    background-color: $color2;
}

.content__primary {
    font-size: 1.5rem;
    font-family: $circe;
    margin-top: 1rem;
}

.content__primary+.content__primary {
    margin-bottom: 2rem;
}