.section-info {
    padding: 40px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;

    h2 {
        font-family: $circe;
        font-size: 3rem;
        font-weight: 500;
        margin: 2rem 0 0;
    }

    h3 {
        font-family: $circe;
        font-size: 2rem;
        font-weight: 600;
        margin: 1rem 0 0;
    }

    li,
    p {
        font-family: $circe;
        font-size: 1.4rem;
        margin-top: 1rem;
    }

    a {
        color: $color4;
        font-weight: bold;

        &:hover {
            color: $black;
        }
    }
}

.validation-mail {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
        margin-bottom: 2rem;
    }
}

.mail-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    flex-direction: column;
}